<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="excelfolderpath" value="C:\LiveDataExcelFile\" />
    <add key="logfolderpath" value="C:\LiveDataV2Log\" />
    <add key="logfilepath" value="C:\LiveDataV2Log\live_data_v2_log.txt" />
    <add key="maxLogSize" value="10240" />
    <add key="serviceStartTime" value="10:00:00 AM" />
    <add key="serviceStopTime" value="3:00:00 PM" />
    <add key="intervalTime" value="20000" />
    <add key="exchange" value="DSE" />
    <add key="docCode" value="SHTX" />
    <add key="companyID" value="180" />
    <add key="userID" value="15" />
    <add key="exchange" value="DSE" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
</configuration>